* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

#topcard {
    height: 50%;
}

#aurora-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.aurora {
    position: absolute;
    opacity: 0.75;
}

#card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: absolute;
}

#card1 img {
    max-width: 600px;
}

#contact-form {
    position: absolute;
    width: 100%;
    height: 50%;
    color: white;
    background: #000000ed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

@media (max-width: 800px) {
    #card1 img {
        width: 80%;
    }
}

.chip {
    padding: 10px 6px;
    background-color: #333;
}

@-webkit-keyframes hueRotate {
    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes hueRotate {
    to {
        filter: hue-rotate(360deg);
    }
}

@-webkit-keyframes colour-1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@keyframes colour-1 {
    0% {
        top: 0vh;
        left: 50vw;
    }

    25% {
        left: 0vw;
    }

    50% {
        top: 100vh;
    }

    75% {
        left: 100vw;
    }

    100% {
        top: 0vh;
        left: 50vw;
    }
}

@-webkit-keyframes colour-2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@keyframes colour-2 {
    0% {
        top: 50vh;
        left: 100vw;
    }

    25% {
        top: 100vh;
    }

    50% {
        left: 0vw;
    }

    75% {
        top: 0vh;
    }

    100% {
        top: 50vh;
        left: 100vw;
    }
}

@-webkit-keyframes colour-3 {
    0% {
        top: 100vh;
        left: 50vw;
    }

    25% {
        left: 100vw;
    }

    50% {
        top: 0vh;
    }

    75% {
        left: 0vw;
    }

    100% {
        top: 100vh;
        left: 50vw;
    }
}

@keyframes colour-3 {
    0% {
        top: 100vh;
        left: 50vw;
    }

    25% {
        left: 100vw;
    }

    50% {
        top: 0vh;
    }

    75% {
        left: 0vw;
    }

    100% {
        top: 100vh;
        left: 50vw;
    }
}

.colour-1 {
    border-radius: 500px;
    box-shadow: 0 0 45vmax 45vmax purple;
    -webkit-animation: hueRotate 10s 0s linear infinite, colour-1 19s 0s linear infinite;
    animation: hueRotate 10s 0s linear infinite, colour-1 19s 0s linear infinite;
}

.colour-2 {
    border-radius: 500px;
    box-shadow: 0 0 45vmax 45vmax rgb(174, 255, 0);
    -webkit-animation: hueRotate 15s 0s linear infinite, colour-2 25s 0s linear infinite;
    animation: hueRotate 15s 0s linear infinite, colour-2 25s 0s linear infinite;
}

.colour-3 {
    border-radius: 500px;
    box-shadow: 0 0 45vmax 45vmax rgb(0, 255, 221);
    -webkit-animation: hueRotate 20s 0s linear infinite, colour-3 15s 0s linear infinite;
    animation: hueRotate 20s 0s linear infinite, colour-3 15s 0s linear infinite;
}

@-webkit-keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}